html {
    height: 100%;
}

body {
    height: 100%;
    display: unset;
}

.parallax {
    height: 100%;
    background-attachment: fixed;   
    background-origin: initial;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.splash-slide {
    z-index: 1;
}

.splash-slide0 {
    width: 50%;
    background-image: url("../images/animate0.png");
}

.splash-slide1 {
    width: 50%;
    background-image: url("../images/animate1.png");
}

.paint-slide{
    background-image: url("../images/green.png");
}

.painting-slide {
    background-image: url("../images/red.png");
}

.dadi-nebulizer {
    background-image: url("../images/yellow.png");
}

.roster-slide {
    background-image: url("../images/green.png");
}

.lti-slide0 {
    background-image: url("../images/red.png");
}

.lti-slide1 {
    background-image: url("../images/yellow.png");
}

.pubby-slide0 {
    background-image: url("../images/green.png");
}

.pubby-slide1 {
    background-image: url("../images/red.png");
}
.chocolate-slide {
    background-image: url("../images/yellow.png");
}


.last-slide {
    background-image: url("../images/green.png");
}

.last-slide h2{
    font-size: 10em;
}