body {
    align-content: center;
    text-align: center;
}

.splash-slide {
    height: 100%;
}

.splash-slide0 {
    padding-left: 0%;
    background-attachment: fixed;
    background-image: url("..\images\splash-pre-escalate.jpg");
    background-position: left;    
    height: inherit;
    background-origin: initial;
    background-repeat: no-repeat;
    background-size: inherit;
}

.splash-slide1 {
    padding-right: 0%;
    background-attachment: fixed;
    background-image: url("..\images\splash-post-escalate.jpg");
    background-position: right;   
    height: inherit;
    background-origin: initial;
    background-repeat: no-repeat;
    background-size: inherit;
}

.paint-slide{

}

.painting-slide {}

.dadi-nebulizer {

}

.roster-slide {}

.lti-slide0 {}

.lti-slide1 {}

.pubby-slide0 {}

.pubby-slide1 {}

.chocolate-slide {}

.last-slide {}